Watson/flow_conversa.json
[{"id":"d78ffbcb.58e998","type":"http in","z":"de4e5abd.a34a68","name":"","url":"/conversa","method":"get","swaggerDoc":"","x":200,"y":208,"wires":[["c5026fe3.f3528"]]},{"id":"6d964d53.7b9cc4","type":"http response","z":"de4e5abd.a34a68","name":"","x":991,"y":236,"wires":[]},{"id":"676efe73.42d61","type":"watson-conversation-v1","z":"de4e5abd.a34a68","name":"","workspaceid":"93b1d319-d910-4349-a310-5ddf4c06758c","multiuser":false,"context":true,"x":678,"y":219,"wires":[["8eb12c6e.5e8be","6d964d53.7b9cc4"]]},{"id":"c5026fe3.f3528","type":"function","z":"de4e5abd.a34a68","name":"","func":"msg.payload = msg.req.query.textvar;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":204,"wires":[["676efe73.42d61"]]},{"id":"8eb12c6e.5e8be","type":"debug","z":"de4e5abd.a34a68","name":"","active":true,"console":"false","complete":"false","x":942,"y":372,"wires":[]}]
